.container {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 ($grid-gutter-width / 2);
    margin-left: auto;
    margin-right: auto;
    @extend .clear;

    // Breakpoints
    @each $size, $width in $container-widths {
        @include breakpoint-up($size) {
            max-width: map_get($container-widths, $size);
        }
    }
}
.container--fluid {
    max-width: none;
}
