.dropdown {
    position: relative;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    user-select: none;
    text-align: left; // buttons have centered text

    &:after {
        content: " ";
        display: inline-block;
        margin-left: .4em;
        margin-top: -0.15em;
        vertical-align: middle;
        @include make-arrow(inherit, down, 0.3em, 0.3em);
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: spacing($dropdown-margin);
        z-index: $z-dropdown;
        outline: 0;
        line-height: 1;
        white-space: nowrap;
        background-color: $dropdown-background;
        border: 1px solid $dropdown-border-color;
        border-radius: $dropdown-border-radius;
        box-shadow: $dropdown-box-shadow;
    }
    .menu__item {
        padding: spacing($dropdown-item-padding);
        color: $input-color;
        border-bottom: 1px solid rgba(0,0,0,0.04);

        &:last-child {
            border-bottom-width: 0;
        }
        &:hover {
            background-color: rgba(0,0,0,0.03);
        }
        &.active {
            font-weight: bold;
            background-color: rgba(0,0,0,0.01);
        }
    }

    // States
    &.dropdown--reversed {
        .menu {
            top: auto;
            bottom: 100%;
        }
        .menu__item:last-child {
            border-bottom-width: 1px;
        }
    }
}

// Select
.dropdown--select {
    display: block;
    padding: spacing($input-padding);
    padding-right: spacing($input-padding, x) + 1rem;
    color: $input-color;
    line-height: $input-line-height;
    border-radius: $input-border-radius;
    border: 1px solid $input-border-color;
    background-color: $input-background;
    transition: all 0.3s ease-out;

    > span {
        pointer-events: none;
    }
    .menu {
        left: -1px;
        right: -1px;
        max-height: 275px;
        overflow-y: auto;
        margin: 0;
        border: 1px solid $color-primary;
        border-top-width: 0;
        border-radius: 0 0 $input-border-radius $input-border-radius;
    }

    &.dropdown--empty span {
        color: $input-placeholder;
    }
    &:focus {
        border-color: $color-primary;
    }
    &:after {
        position: absolute;
        top: 50%;
        right: 1rem;
        border-top-width: 0.35em;
    }

    // Default
    &:not(.dropdown--reversed) .menu__item:first-child {
        border-top: 1px solid rgba(0,0,0,0.04);
    }
    // Reversed
    &.dropdown--reversed {
        .menu {
            border-top-width: 1px;
            border-bottom-width: 0;
            border-radius: $input-border-radius $input-border-radius 0 0;
        }
        .menu__item:last-child {
            border-bottom-width: 1px;
        }
    }

    // Open
    &.dropdown--open {
        // Default
        &:not(.dropdown--reversed) {
            border-bottom-color: transparent;
            border-radius: $input-border-radius $input-border-radius 0 0;
        }
        // Reversed
        &.dropdown--reversed {
            border-top-color: transparent;
            border-radius: 0 0 $input-border-radius $input-border-radius;
        }
    }
}
