.dropdown {
    position: relative;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    user-select: none;

    &:after {
        content: " ";
        display: inline-block;
        margin-left: .4em;
        margin-top: -0.15em;
        vertical-align: middle;
        @include make-arrow(null, down, 0.3em, 0.3em);
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: $dropdown-min-width;
        margin: spacing($dropdown-margin);
        z-index: $z-dropdown;
        outline: 0;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
        background-color: $dropdown-background;
        border: 1px solid $dropdown-border-color;
        border-radius: $dropdown-border-radius;
        box-shadow: $dropdown-box-shadow;
    }
    .menu__item {
        padding: spacing($dropdown-item-padding);
        color: $input-color;
        border-bottom: 1px solid $dropdown-item-border-color;

        &:last-child {
            border-bottom-width: 0;
        }
        &:hover {
            background-color: rgba(0,0,0,0.03);
        }
        &.active {
            font-weight: bold;
            background-color: rgba(0,0,0,0.01);
        }
    }

    // Reversed (upward)
    &.dropdown--reversed {
        .menu {
            top: auto;
            bottom: 100%;
        }
        .menu__item:last-child {
            border-bottom-width: 1px;
        }
    }
}

// Select input
.dropdown--select {
    @extend .input;

    &:after { // dropdown arrow
        position: absolute;
        top: 50%;
        right: 1rem;
    }
    > span { // input placeholder
        pointer-events: none;
    }
    .menu {
        left: -1px;
        right: -1px;
        max-height: 275px;
        margin: 0;
        overflow-y: auto;
        border: 1px solid $input-border-focus;
        box-shadow: none;
    }

    // Default (downward)
    &:not(.dropdown--reversed) {
        .menu {
            border-top-width: 0;
            border-radius: 0 0 $input-border-radius $input-border-radius;
        }
        .menu__item:first-child {
            border-top: 1px solid $dropdown-item-border-color;
        }
        &.dropdown--open {
            border-radius: $input-border-radius $input-border-radius 0 0;
        }
    }

    // Reversed (upward)
    &.dropdown--reversed {
        .menu {
            border-bottom-width: 0;
            border-radius: $input-border-radius $input-border-radius 0 0;
        }
        .menu__item:last-child {
            border-bottom-width: 1px;
        }
        &.dropdown--open {
            border-radius: 0 0 $input-border-radius $input-border-radius;
        }
    }

    // Empty
    &.dropdown--empty > span {
        color: $input-placeholder;
    }
}
