label {
    display: inline-block;
    margin-bottom: 0.25rem;
    font-size: $form-label-font-size;
    font-weight: $form-label-font-weight;
    vertical-align: middle;
}
.form-field {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: $form-field-margin-bottom;
}
.form-inline {
    @include breakpoint-up(sm) {
        .form-field {
            width: auto;
            margin-bottom: 0;

            + .form-field {
                margin-left: 0.5rem;
            }
        }
        .btn {
            margin-left: 0.5rem;
            vertical-align: bottom;
        }
    }
}
.form-info {
    display: inline-block;
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 0.9375rem;
}
.form-check {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;

    input, span {
        vertical-align: middle;
        margin-top: -0.125rem;
        margin-right: 0.25rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

// TODO: make customizable within theme.scss
.form-check--custom {
    position: relative;

    &:hover span:after {
        content: " ";
        opacity: 1;
        transform: scale(1);
    }
    input {
        display: none;

        &:checked + span:after {
            content: " ";
            opacity: 1;
            transform: scale(1);
            background-color: $color-primary;
        }
    }
    input[type="radio"] + span {
        &, &:after {
            border-radius: 1em;
        }
    }
    input[type="checkbox"] + span {
        & {
            border-radius: 0.125rem;
        }
        &:after {
            border-radius: calc(0.125rem - 1px);
        }
    }
    span {
        display: inline-block;
        padding: 0.5425rem;
        pointer-events: none;
        background-color: #FFF;
        border: 1px solid $input-border-color;

        &:after {
            content: " ";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            opacity: 0;
            background-color: darken($input-border-color, 10%);
            transform: scale(0);
            transition: all 0.2s;
        }
    }
}