.grid > .row {
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
}

// Rows
.row {
    @include make-row();
}
.row--stacking {
    @include breakpoint-down(md) {
        display: block;
    }
}
.row--compact {
    margin-left: 0;
    margin-right: 0;

    > .col {
        padding-left: 0;
        padding-right: 0;
    }
}
.row--relaxed {
    margin-left: -($grid-gutter-width*0.75);
    margin-right: -($grid-gutter-width*0.75);

    > .col {
        padding-left: $grid-gutter-width*0.75;
        padding-right: $grid-gutter-width*0.75;
    }
}

// Columns
.col {
    @include make-column-base();
}

@each $size, $breakpoint in $grid-breakpoints {
    @include breakpoint-up($size) {

        @for $i from 1 through $grid-columns {
            $name: if($size == xs, $i, #{$size}-#{$i}); // xs shorthand: col--xs-6 -> col--6
            $width: #{(100/$grid-columns) * $i + '%'};

            .col--#{$name} {
                width: $width;
            }
        }

    }
}
