.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__link {
    display: block;
    padding: $menu-link-padding;
}

// Inline
.menu--inline .menu__item {
    display: inline-block;
}

// Pills
.menu--pills .menu__link {
    border-radius: $border-radius-base;

    &.is-active {
        color: #FFF;
        background-color: $color-primary;
    }
}

// Tabs
.menu--tabs {
    border-bottom: 1px solid $input-border-color;
    @extend .clear;

    .menu__item {
        display: block;
        float: left;
        margin-bottom: -1px;
    }
    .menu__link {
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: $border-radius-base $border-radius-base 0 0;

        &.is-active {
            color: $color-base;
            background-color: #fff;
            border-color: $input-border-color $input-border-color transparent;
        }
    }
}
.menu--fluid {
    display: flex;

    .menu__item {
        flex: 1;
        text-align: center;
    }
}
