.table {
    width: 100%;
    margin-bottom: $table-margin-bottom;
    border-collapse: collapse;

    th {
        text-align: left;
    }
    th,
    td {
        padding: $table-col-padding;
        border-bottom: $table-border-width solid $table-border-color;
        vertical-align: top;
    }
}

// Styles
.table--primary {
    color: #FFF;
    background-color: $color-primary;

    th,
    td {
        border-bottom: $table-border-width solid lighten($color-primary, 8%);
    }
}
.table--inverse {
    color: #FFF;
    background-color: $color-inverse;

    th,
    td {
        border-bottom: $table-border-width solid lighten($color-inverse, 8%);
    }
}

// Sizes
.table--sm {
    th,
    td {
        padding: (spacing($table-col-padding, y) * 0.6) (spacing($table-col-padding, x) * 0.6);
    }
}
.table--lg {
    th,
    td {
        padding: (spacing($table-col-padding, y) * 1.4) (spacing($table-col-padding, x) * 1.4);
    }
}

// Variations
.table--striped {
    tbody tr:nth-child(odd) {
        background-color: rgba(0,0,0,0.025);
    }
}
.table--bordered {
    border: $table-border-width solid $table-border-color;

    th,
    td {
        border-right: $table-border-width solid $table-border-color;
    }
}
.table--interactive {
    tbody tr:hover {
        background-color: rgba(0,0,0,0.05);
    }
}

// View
.table-view {
    overflow-x: auto;
    margin-bottom: $table-margin-bottom;

    .table {
        margin-bottom: 0;
    }
}
