.table {
    width: 100%;
    margin-bottom: 1rem;
    border: 0 solid $table-border-color;
    border-collapse: collapse;

    th {
        text-align: left;
    }
    th,
    td {
        padding: spacing($table-col-padding);
        border-bottom: $table-border-width solid;
        border-color: inherit;
        vertical-align: top;
    }
}

// Styles
.table--primary {
    color: #FFF;
    background-color: $color-primary;
    border-color: lighten($color-primary, 8%);
}
.table--inverse {
    color: #FFF;
    background-color: $color-inverse;
    border-color: lighten($color-inverse, 8%);
}

// Sizes
.table--sm {
    th,
    td {
        padding: (spacing($table-col-padding, y) * 0.6) (spacing($table-col-padding, x) * 0.6);
    }
}
.table--lg {
    th,
    td {
        padding: (spacing($table-col-padding, y) * 1.4) (spacing($table-col-padding, x) * 1.4);
    }
}

// Variations
.table--striped {
    tbody tr:nth-child(odd) {
        background-color: rgba(0,0,0,0.025);
    }
}
.table--bordered {
    border-width: $table-border-width;

    th,
    td {
        border-right: $table-border-width solid;
        border-color: inherit;
    }
}
.table--interactive {
    tbody tr:hover {
        background-color: rgba(0,0,0,0.05);
    }
}
