// Textual
.text-primary  { color: $color-primary; }
.text-positive { color: $color-positive; }
.text-warning  { color: $color-warning; }
.text-negative { color: $color-negative; }
.text-muted    { color: $color-gray-dark; }

@each $size, $breakpoint in $grid-breakpoints {
    @include breakpoint-up($size) {

        @each $align in (left, center, right) {
            $name: if($size == xs, $align, #{$size}-#{$align}); // xs shorthand

            .text-#{$name} {
                text-align: $align;
            }
        }

    }
}

// Backgrounds
.bg-primary  { background-color: $color-primary; color: #FFF; }
.bg-positive { background-color: $color-positive; color: #FFF; }
.bg-warning  { background-color: $color-warning; color: #FFF; }
.bg-negative { background-color: $color-negative; color: #FFF; }
.bg-inverse  { background-color: $color-inverse; color: #FFF; }

// Images
.img-auto {
    max-width: 100%;
    height: auto;
}
.img-fluid {
    width: 100%;
    height: auto;
}

// Block elements
.block-center {
    margin-left: auto;
    margin-right: auto;
}

// Spacing
@each $size, $breakpoint in $grid-breakpoints {
    @include breakpoint-up($size) {

        @each $dir, $abbr in (top: t, right: r, bottom: b, left: l) {
            @for $i from 1 through 4 {
                $name: if($size == xs, #{$abbr}-#{$i}, #{$abbr}-#{$size}-#{$i}); // xs shorthand
                $value: if($i == 4, ($i*1.5) * 0.5rem, $i * 0.5rem); // double the space on 4

                .m#{$name} { // margin
                    margin-#{$dir}: $value;
                }
                .p#{$name} { // padding
                    padding-#{$dir}: $value;
                }
            }
        }

    }
}

// Clearfix
.clear:after {
    content: " ";
    display: table;
    clear: both;
}

// Screen readers
.sr-content {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
