* {
    box-sizing: border-box;
}
html {
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: $line-height-base;
    color: $color-base;
}
body {
    background-color: $color-background;
}
