/**
 * The default Fundament theme.
 *
 * Override these variables to make it yours.
 */

/*---------------------*
 * Colors
 *---------------------*/
$color-primary:    #0288D1  !default;
$color-base:       #222     !default;
$color-heading:    inherit  !default;
$color-inverse:    #333     !default;
$color-background: #fff     !default;

$color-positive: #4CAF50    !default;
$color-warning:  #FFA000    !default;
$color-negative: #D84315    !default;
$color-info:     #0288D1    !default;

$color-gray-darkest:  #444      !default;
$color-gray-darker:   #666      !default;
$color-gray-dark:     #888      !default;
$color-gray:          #AAA      !default;
$color-gray-light:    #DDD      !default;
$color-gray-lighter:  #E8E8E8   !default;
$color-gray-lightest: #F8F8F8   !default;

/*---------------------*
 * Typography
 *---------------------*/
$font-size-base: 16px       !default;
$font-size-sm:   0.875rem   !default;
$font-size-lg:   1.25rem    !default;

$font-family-base:    'Source Sans Pro', sans-serif !default;
$font-family-heading: $font-family-base             !default;
$font-sizes-heading:  (
    h1: 2.625rem, // 42px
    h2: 2.25rem,  // 36px
    h3: 1.875rem, // 30px
    h4: 1.5rem,   // 24px
    h5: 1.25rem,  // 20px
    h6: 1rem,     // 16px
) !default;

$line-height-base: 1.5 !default;

// Links
$link-color:            $color-primary              !default;
$link-decoration:       none                        !default;
$link-hover-color:      darken($link-color, 12%)    !default;
$link-hover-decoration: none                        !default;

/*---------------------*
 * Grid
 *---------------------*/
$grid-columns:      12      !default;
$grid-gutter-width: 30px    !default;
$grid-breakpoints:  (
    xs: 0,
    sm: 570px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

/*---------------------*
 * Container
 *---------------------*/
$container-widths: (
    sm: 540px,
    md: 720px,
    lg: 940px,
    xl: 1140px
) !default;

/*---------------------*
 * Global
 *---------------------*/
$border-radius-base: 0.25rem        !default;
$transition-base:    all 280ms ease !default;
$spacings-base: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 2rem,
    5: 3rem,
) !default;

// Z-indexes
$z-popup:    10     !default;
$z-dropdown: 100    !default;
$z-dialog:   1000   !default;

/*---------------------*
 * Input
 *---------------------*/
$input-padding:       0.5625rem 0.8125rem   !default;
$input-line-height:   1.25                  !default;
$input-color:         $color-base           !default;
$input-placeholder:   $color-gray           !default;
$input-background:    #fff                  !default;
$input-border-width:  1px                   !default;
$input-border-color:  $color-gray-light     !default;
$input-border-radius: $border-radius-base   !default;
$input-transition:    $transition-base      !default;

// Sizes
$input-padding-sm: 0.375rem 0.625rem   !default;
$input-padding-lg: 0.75rem 1rem        !default;

// States
$input-hover-color:        $input-color                       !default;
$input-hover-background:   $input-background                  !default;
$input-hover-border-color: darken($input-border-color, 8%)    !default;

$input-focus-color:        $input-color         !default;
$input-focus-background:   $input-background    !default;
$input-focus-border-color: $color-primary       !default;

/*---------------------*
 * Label
 *---------------------*/
$label-padding:       0.35em 0.625em        !default;
$label-font-size:     0.875em               !default;
$label-font-weight:   normal                !default;
$label-color:         $color-base           !default;
$label-border-radius: $border-radius-base   !default;
$label-background:    $color-gray-lighter   !default;

/*---------------------*
 * List
 *---------------------*/
$list-line-height: 1.25     !default;
$list-spacing:     0.75rem  !default;

// Item
$list-item-padding:      0.75rem 1rem           !default;
$list-item-border-width: 1px                    !default;
$list-item-border-color: $color-gray-lighter    !default;
$list-item-background:   transparent            !default;

/*---------------------*
 * Button
 *---------------------*/
$button-padding:       0.5625rem 1.125rem   !default;
$button-line-height:   1.25                 !default;
$button-font-weight:   normal               !default;
$button-color:         $color-base          !default;
$button-background:    $color-gray-lighter  !default;
$button-border-width:  1px                  !default;
$button-border-radius: $border-radius-base  !default;
$button-transition:    $transition-base     !default;

// Sizes
$button-padding-sm: 0.375rem 0.6875rem  !default;
$button-padding-lg: 0.8125rem 1.5rem    !default;

/*---------------------*
 * Table
 *---------------------*/
$table-margin-bottom: 1rem                  !default;
$table-col-padding:   0.625rem 0.625rem     !default;
$table-border-width:  1px                   !default;
$table-border-color:  $color-gray-lighter   !default;

/*---------------------*
 * Card
 *---------------------*/
$card-padding:       1rem 1rem                  !default;
$card-background:    #FFF                       !default;
$card-border-width:  1px                        !default;
$card-border-color:  $color-gray-light          !default;
$card-border-radius: $border-radius-base        !default;
$card-box-shadow:    0 1px 3px rgba(0,0,0,0.06) !default;

// Block
$card-block-border-color: $color-gray-lighter   !default;

/*---------------------*
 * Dropdown
 *---------------------*/
$dropdown-min-width:     8rem                       !default;
$dropdown-margin:        0.5rem -1px                !default;
$dropdown-background:    #FFF                       !default;
$dropdown-border-width:  1px                        !default;
$dropdown-border-color:  $color-gray-light          !default;
$dropdown-border-radius: $border-radius-base        !default;
$dropdown-box-shadow:    0 2px 6px rgba(0,0,0,0.1)  !default;
$dropdown-arrow-size:    0.25em                     !default;

// Item
$dropdown-item-padding:      0.625rem 0.8125rem     !default;
$dropdown-item-border-width: 1px                    !default;
$dropdown-item-border-color: $color-gray-lightest   !default;

$dropdown-hover-item-background: $color-gray-lightest  !default;

/*---------------------*
 * Dialog
 *---------------------*/
$dialog-max-width:     80%                  !default;
$dialog-max-height:    80%                  !default;
$dialog-background:    #FFF                 !default;
$dialog-border-radius: $border-radius-base  !default;

// Block
$dialog-block-width:        40rem               !default;
$dialog-block-padding:      1rem                !default;
$dialog-block-border-color: $color-gray-lighter !default;

// Sizes
$dialog-block-width-sm: ($dialog-block-width * 0.6) !default;
$dialog-block-width-lg: ($dialog-block-width * 1.4) !default;

// Dimmer
$dialog-dimmer-background: rgba(0,0,0,0.4) !default;

/*---------------------*
 * Form
 *---------------------*/
$form-label-font-size:     0.9375rem    !default;
$form-label-font-weight:   bolder       !default;
$form-field-margin-bottom: 1rem         !default;
$form-info-font-size:      0.9375rem    !default;

/*---------------------*
 * Menu
 *---------------------*/
$menu-link-padding: 0.5rem 1.125rem !default;

// Pills
$menu-pills-border-radius: $border-radius-base  !default;

$menu-pills-active-color:      #FFF             !default;
$menu-pills-active-background: $color-primary   !default;

// Tabs
$menu-tabs-border-width:  1px                   !default;
$menu-tabs-border-color:  $color-gray-light     !default;
$menu-tabs-border-radius: $border-radius-base   !default;

$menu-tabs-active-color:      $color-base       !default;
$menu-tabs-active-background: #FFF              !default;

/*---------------------*
 * Message
 *---------------------*/
$msg-margin-bottom: 1rem                    !default;
$msg-padding:       0.75rem 1rem            !default;
$msg-background:    #FFF                    !default;
$msg-border-width:  1px                     !default;
$msg-border-color:  $color-gray-light       !default;
$msg-border-radius: $border-radius-base     !default;

// Styles
$msg-positive-color: $color-positive    !default;
$msg-warning-color:  $color-warning     !default;
$msg-negative-color: $color-negative    !default;
$msg-info-color:     $color-info        !default;

// Sizes
$msg-padding-sm: 0.375rem 0.75rem  !default;
$msg-padding-lg: 1rem 1.25rem      !default;

/*---------------------*
 * Popup
 *---------------------*/
$popup-max-width:    18rem                      !default;
$popup-padding:      0.4375rem 0.75rem          !default;
$popup-font-size:    0.9375rem                  !default;
$popup-background:   #FFF                       !default;
$popup-border-width: 1px                        !default;
$popup-border-color: $color-gray-light          !default;
$popup-box-shadow:   0 2px 6px rgba(0,0,0,0.1)  !default;
$popup-arrow-size:   6px                        !default;
